.navbar{
    display: flex;
    align-items: center;
   width: 100%;
height: 8vh;
justify-content: space-between;
 .nav{

background-color: rgb(255, 255, 255);
text-decoration: solid;
font-weight: 800;
display: flex;
justify-content: flex-start;
align-items: center;
.nav-icon{
    margin: 0 10px;
    width: 30px;
    height: 30px;
    background-image: url("../images/leaves.png");
    background-repeat: no-repeat;
    background-size: cover;
  
}
}   

#hashedin-logo{
    
    // background-color: antiquewhite;
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
    >.image{
        background-image:url("../images/profileimg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 40px;
     margin-right:8px ;
        height: 40px;
        border-radius: 50%;
    }
    #profile-naming{
        // background-color: rgb(224, 232, 229);
        display: flex;
        flex-direction: column;
        >div{
            font-weight: 700;
        }
        >span{
            font-size: 11px;
        }
    }
}
}

 